{% comment %}
Snippet can be used in section or block
eg. {% include 'include-icon-with-text' %}
{% endcomment %}

{% if type == 'block' %}
  {% assign object = block %}
{% else %}
  {% assign object = section %}
{% endif %}

{% assign id = object.id %}
{% comment %}Colors{% endcomment %}
{% assign text_color = object.settings.text_color %}
{% assign icon_color = object.settings.icon_color %}
{% assign background = object.settings.background %}
{% assign gradient = object.settings.gradient %}
{% assign gradient_rotation = object.settings.gradient_rotation %}
{% comment %}Layout{% endcomment %}
{% assign show_gutter = object.settings.show_gutter %}
{% assign width = object.settings.width %}
{% assign padding_top = object.settings.padding_top %}
{% assign padding_bottom = object.settings.padding_bottom %}
{% assign padding_left = object.settings.padding_left %}
{% assign padding_right = object.settings.padding_right %}
{% assign animation = object.settings.animation %}

{% comment %} Is the color set to transparent? {% endcomment %}
{% assign text_alpha = text_color | color_extract: 'alpha' %}
{% assign icon_alpha = icon_color | color_extract: 'alpha' %}
{% assign background_alpha = background | color_extract: 'alpha' %}
{% assign gradient_alpha = gradient | color_extract: 'alpha' %}

{% comment %} Section specific CSS {% endcomment %}
{% capture section_css -%}

  .icon-with-text-column__column {
    background-image: linear-gradient({{ gradient_rotation }}deg, rgba(255,255,255,0), {{ gradient }});
    background-color: {%- if background_alpha != 0 -%}{{ background }}{%- endif -%};
  }

  .icon-column__title {
    color: {%- if text_alpha != 0 -%}{{ object.settings.text_color }}{%- endif -%};
  }

  .icon {
    fill: {%- if icon_alpha != 0 -%}{{ object.settings.icon_color }}{%- endif -%};
  }

  .icon-column__text {
    color: {%- if text_alpha != 0 -%}{{ object.settings.text_color }}{%- endif -%};
  }

{%- endcapture -%}

{% style %}
  #shopify-section-{{ object.id }} {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
    padding-left: {{ padding_left }}px;
    padding-right: {{ padding_right }}px;
    {% if width == 'wide' %}
      width: 100%;
    {% elsif width == 'half' %}
      width: 50%;
    {% endif %}

    {% if object.settings.background_image != blank %}
      background: url({{ object.settings.background_image | img_url: 'original' }}) repeat-x 50% 0 transparent;
      background-repeat: no-repeat;
    	background-position: right top;
    {%- endif %}
  }
{% endstyle %}

<section id="product__specs-section" class="section
                is-width-{{ width }}
                {% if show_gutter == false %}
                  has-no-side-gutter
                  has-background
                {% else %}
                  has-gutter-enabled
                {% endif %}
                  has-multirow-blocks
                {% if width == 'wide' %}
                  equal-columns--outside-trim
                {% endif %}">
       <div class="container is-justify-center">
        <h1 class="icon-with-text__title">{{ object.settings.title }}</h1>
       </div>           
  <div class="container is-justify-center">
      <div class="icon-with-text-column__column
                  {% if show_gutter %}
                    has-gutter
                  {% endif %}
                  has-padding
                  {% include 'column-width', value: object.settings.icons_per_row %}
                  text-align-{{ object.settings.align_text }}
                  medium-down--one-half">

        {%- capture icon_size -%}
          is-{{ object.settings.icon_size }}
        {%- endcapture -%}

        {% include settings.icon, name: object.settings.icon_label_1, icon_class: icon_size %}

        {% if object.settings.title_1 != blank or object.settings.text_1 != blank %}
          <div class="icon-column__text ">
            <p class="icon-column__title">{{ object.settings.title_1 }}</p>
            {{ object.settings.text_1 }}
          </div>
        {% endif %}

      </div> 
      {% if object.settings.icons_per_row > 1 %}
      <div class="icon-with-text-column__column
                  {% if show_gutter %}
                    has-gutter
                  {% endif %}
                  has-padding
                  {% include 'column-width', value: object.settings.icons_per_row %}
                  text-align-{{ object.settings.align_text }}
                  medium-down--one-half">

        {%- capture icon_size -%}
          is-{{ object.settings.icon_size }}
        {%- endcapture -%}

        {% include settings.icon, name: object.settings.icon_label_2, icon_class: icon_size %}

        {% if object.settings.title_2 != blank or object.settings.text_2 != blank %}
          <div class="icon-column__text ">
            <p class="icon-column__title">{{ object.settings.title_2 }}</p>
            {{ object.settings.text_2 }}
          </div>
        {% endif %}

      </div>
      {% endif %}
      {% if object.settings.icons_per_row > 2 %}
      <div class="icon-with-text-column__column
                  {% if show_gutter %}
                    has-gutter
                  {% endif %}
                  has-padding
                  {% include 'column-width', value: object.settings.icons_per_row %}
                  text-align-{{ object.settings.align_text }}
                  medium-down--one-half">

        {%- capture icon_size -%}
          is-{{ object.settings.icon_size }}
        {%- endcapture -%}

        {% include settings.icon, name: object.settings.icon_label_3, icon_class: icon_size %}

        {% if object.settings.title_3 != blank or object.settings.text_3 != blank %}
          <div class="icon-column__text ">
            <p class="icon-column__title">{{ object.settings.title_3 }}</p>
            {{ object.settings.text_3 }}
          </div>
        {% endif %}

      </div>
      {% endif %}
      {% if object.settings.icons_per_row > 3 %}
        <div class="icon-with-text-column__column
                    {% if show_gutter %}
                      has-gutter
                    {% endif %}
                    has-padding
                    {% include 'column-width', value: object.settings.icons_per_row %}
                    text-align-{{ object.settings.align_text }}
                    medium-down--one-half">

          {%- capture icon_size -%}
            is-{{ object.settings.icon_size }}
          {%- endcapture -%}

          {% include settings.icon, name: object.settings.icon_label_4, icon_class: icon_size %}

          {% if object.settings.title_4 != blank or object.settings.text_4 != blank %}
            <div class="icon-column__text ">
              <p class="icon-column__title">{{ object.settings.title_4 }}</p>
              {{ object.settings.text_4 }}
            </div>
          {% endif %}

        </div>
      {% endif %}
  </div>
</section>
