{% comment %}Assign object as block or section{% endcomment %}
{% if type == 'block' %}
  {% assign object = block %}
{% else %}
  {% assign object = section %}
{% endif %}
 
{% assign id = object.id %}

{% assign width = object.settings.width %}

{% assign icon = object.settings.icon %}
{% assign title = object.settings.title %}
{% assign subtitle = object.settings.subtitle %}
{% assign buttonlabel = object.settings.button %}




{% assign padding_top = object.settings.padding_top %}
{% assign padding_bottom = object.settings.padding_bottom %}
{% assign padding_left = object.settings.padding_left %}
{% assign padding_right = object.settings.padding_right %}

{% comment %}Advanced{% endcomment %}
{% assign css_class = object.settings.css_class %}
{% assign custom_css = object.settings.custom_css %}


{% comment %}Section specific CSS{% endcomment %}
{% capture section_css -%}

{%- endcapture -%}

{% style %}
  #shopify-section-{{ id }} {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
  }

  {% if width == 'wide' %}
  #shopify-section-{{ id }} .section {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
  }
  {% endif %}

  {% include 'css-loop', css: section_css, id: id %}
  {% include 'css-loop', css: custom_css, id: id %}
{% endstyle %}


{% comment %} HTML markup {% endcomment %}
<section class="section
                {{ css_class }}
                is-width-{{ width }}
                ">
  <div class="container
              icon-with-text-button__container
              {% if width == 'wide' or width == 'half' %}
                equal-columns--outside-trim
              {% endif %}">        
        <div class="icon-with-text-button__wrapper">
            <div class="icon-with-text-button__icon">
            {% if icon != blank %}
                {% include settings.icon, name: icon %}
            {% endif %}
            </div>

            <div class="icon-with-text-button__txts">
                <h2 class="icon-with-text-button__heading">{{ title }}</h2>
                <span class="icon-with-text-button__text">{{ subtitle }}</span>
            </div>

            <div class="icon-with-text-button__button">
                <a class="button button--primary ">{{ buttonlabel }}</a>
            </div>
        </div>
    </div>
 </section>