{% comment %}
** Person with text column - dynamic **
- Draggable section
- Uses blocks
{% endcomment %}

{% if type == 'block' %}
  {% assign object = block %}
{% else %}
  {% assign object = section %}
{% endif %}

{% assign id = object.id %}
{% comment %}Colors{% endcomment %}
{% assign text_color = object.settings.text_color %}
{% assign background = object.settings.background %}
{% assign gradient = object.settings.gradient %}
{% assign gradient_rotation = object.settings.gradient_rotation %}
{% comment %}Layout{% endcomment %}
{% assign show_gutter = object.settings.show_gutter %}
{% assign width = object.settings.width %}
{% assign padding_top = object.settings.padding_top %}
{% assign padding_bottom = object.settings.padding_bottom %}
{% assign padding_left = object.settings.padding_left %}
{% assign padding_right = object.settings.padding_right %}
{% assign animation = object.settings.animation %}
{% comment %} Advanced {% endcomment %}
{% assign css_class = object.settings.css_class %}
{% assign custom_css = object.settings.custom_css %}

{% comment %} Is the color set to transparent? {% endcomment %}
{% assign text_alpha = text_color | color_extract: 'alpha' %}
{% assign background_alpha = background | color_extract: 'alpha' %}
{% assign gradient_alpha = gradient | color_extract: 'alpha' %}

{% comment %} Section specific CSS {% endcomment %}
{% capture section_css -%}

  .person-with-text-column__column {
    background-image: linear-gradient({{ gradient_rotation }}deg, transparent, {{ gradient }});
    background-color: {%- if background_alpha != 0 -%}{{ background }}{%- endif -%};
  }

  .person-column__title {
    color: {%- if text_alpha != 0 -%}{{ object.settings.text_color }}{%- endif -%};
  }

  .person-column__text {
    color: {%- if text_alpha != 0 -%}{{ object.settings.text_color }}{%- endif -%};
  }

{%- endcapture -%}

{% style %}
  #shopify-section-{{ object.id }} {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
    padding-left: {{ padding_left }}px;
    padding-right: {{ padding_right }}px;
    {% if width == 'wide' %}
      width: 100%;
    {% elsif width == 'half' %}
      width: 50%;
    {% endif %}
  }
  {% include 'css-loop', css: section_css, id: id %}
  {% include 'css-loop', css: custom_css, id: id %}
{% endstyle %}

<section class="section
                team-section
                {{ css_class }}
                is-width-{{ width }}
                {% if show_gutter == false %}
                  has-no-side-gutter
                  has-background
                {% else %}
                  has-gutter-enabled
                {% endif %}
                {% if object.blocks.size > object.settings.images_per_row %}
                  has-multirow-blocks
                {% endif %}
                {% if width == 'wide' %}
                  equal-columns--outside-trim
                {% endif %}"
                {% if animation != "none" %}
                  data-scroll-class="{{ animation }}"
                {% endif %}>
  <div class="container is-justify-center">
    <div class="image-with-text__text-column
    image-with-text__column
    one-whole
    column
    has-padding-left
    has-padding-right
    is-flex
    is-flex-wrap
    is-justify-{{ object.settings.main_title_alignment }}
    ">
    {% if object.settings.main_title != blank %}
    <h3 class="image-with-text__heading text-align-{{ object.settings.main_title_alignment }} is-{{ object.settings.main_title_heading_size }}" >
    {{ object.settings.main_title }}
    </h3>
    {% endif %}
    </div>   
    <div class="image-with-text__text-column
        image-with-text__column
        one-whole
        column
        has-padding-left
        has-padding-right
        is-flex
        is-flex-wrap
        is-justify-{{ object.settings.main_title_alignment }}
        ">
    {% if object.settings.main_text != blank %}
    <div class="image-with-text__text text-align-{{ object.settings.main_title_alignment }} content">
    {{ object.settings.main_text }}
    </div>
    {% endif %}

    </div>
    {% for index in (1..8) %}
    {%- capture image -%}image_{{index}}{%- endcapture -%}
    {%- capture title -%}title_{{index}}{%- endcapture -%}
    {%- capture text -%}text_{{index}}{%- endcapture -%}

    {% if  block.settings[image] != blank %}
      <div class="person-with-text-column__column
                  {% if show_gutter %}
                    has-gutter
                  {% endif %}
                  column
                  has-padding
                  {% include 'column-width', value: object.settings.images_per_row %}
                  text-align-{{ object.settings.align_text }}
                  medium-down--one-whole">


        {% if  block.settings[image] != blank %}
            {% include 'image-element', image: block.settings[image], alt: block.settings[image].alt, stretch_width: true, additional_classes: 'person-with-text__image' %}
        {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}

        {% if block.settings[title] != blank or block.settings[text] != blank %}
          <div class="person-column__text has-padding-top">
            <h4 class="person-column__title title">{{ block.settings[title] }}</h4>
            {{ block.settings[text] }}
          </div>
        {% endif %}

      </div>
      {% endif %}
    {% endfor %}
  </div>
</section>