{% comment %}
include-faq.liquid
{% endcomment %}

{% assign width = section.settings.width %}


{% comment %} Section specific CSS {% endcomment %}
{% style %}

  #shopify-section-{{ section.id }} section{
    {% if section.settings.show_background_image %}
      background: url({{ "image-montly_faq1.svg" | asset_url }}) repeat-x 50% 0 transparent;
      background-repeat: no-repeat;
    	background-position: right top; 
    {% endif %}
  }

  .faq-wrapper { 
    padding-top: {{ section.settings.padding_top }}px;
     background-color : {{ section.settings.background-color }};
  }

  .page-faq__column-wrap {
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  {% if section.blocks.size == 0 %}
    .faq__column-1 {
      display: none;
    }

    .faq__column-2 {
      width: 100%;
    }
  {% endif %}

  {% include 'css-loop', css: section.settings.custom_css, id: section.id %}
{% endstyle %}

{% capture icon_set %}
{% if settings.toggle_icon_style == 'carets' %}
  {% include settings.icon, name: 'down-caret', icon_class: 'icon--rotate' %}
{% else %}
  {% include settings.icon, name: 'plus', icon_class: 'icon--active' %}
  {% include settings.icon, name: 'minus' %}
{% endif %}
{% endcapture %}

<div class="faq-wrapper">

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {% for block in section.blocks %}
      {% unless block.type == 'heading' or block.type == 'image' %}
        {
          "@type": "Question",
          "name": "{{ block.settings.title | escape }}",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "{{ block.settings.answer | strip_html }}"
          }
        }{% unless forloop.last %},{% endunless %}
      {% endunless %}
    {% endfor %}
  ]
}
</script>

<section class="section medium-down--hide-cookie_bg
                {{ section.settings.css_class }}
                is-width-{{ width }}
                ">

<div class="page-faq__column-wrap container column-wrapper">
  <div class="faq faq__column-1">

    <div class="faq-accordion 
                has-padding-left
                has-padding-right
            accordion-icon--{{ settings.toggle_icon_style }}">

        {% if section.settings.icon != blank %}
            <div class="faq-icon text-align-center">
                {% include settings.icon, name: section.settings.icon %}
            </div>
        {% endif %}

        {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
            {% if block.type == 'heading' %}

                {% if block.settings.title != blank %}
                    <h2 class="title faq-title text-align-center">{{ block.settings.title }}</h2>
                {% endif %}

            {% endif %}
        {% endfor %}

        <div class="faq-contents container">
        {% for block in section.blocks %}
            {% if block.type == 'content' %}
                {% if block.settings.title != blank %}
                    <div class="groups">
                        <dt>
                            <button class="accordion-style--{{ settings.toggle_icon_style }} accordion__button" type="button" aria-controls="panel-{{ block.id }}" aria-expanded="true">
                                {{ icon_set }}
                                {{ block.settings.title }}
                            </button>
                            <div id="panel-{{ block.id }}" class="dd" aria-hidden="false">
                                <div class="content">
                                    {{ block.settings.answer }}
                                </div>
                            </div>
                        </dt>                
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
        </div>
        {% endif %}

        <div class="more-links text-align-center">
          <div class="more-question"><span>{{ section.settings.more-question_txt }}</span></div>
          <div class="faq-page_link"><a>{{ section.settings.faq-page-link_txt }}</a></div>
        </div>
    </div>
  </div>
</div>

{% if section.settings.show_wave_border %}
<div class="product-header-wave">
  {% include 'include-wave_background', color: 'white' %}
</div>
{% endif %}

</section>
<script data-theme-editor-load-script src="{{ 'z__jsFAQ.js' | asset_url }}"></script>

</div>