{% if type == 'product' and section.settings.show_payment_button %}
  {% assign show_payment_button = true %}
{% elsif type == 'product' and block.settings.show_payment_button %}
  {% assign show_payment_button = true %}
{% elsif type == 'quickshop' and settings.show_dynamic_checkout_button %}
  {% assign show_payment_button = true %}
{% else %}
  {% assign show_payment_button = false %}
{% endif %}

{% if page == 'monthly' %}
  {% assign form_style = "dropdown" %}
{% else %}
  {% assign form_style = settings.product_form_style %}
{% endif %}

{% assign variant = product.selected_or_first_available_variant %}

<div class="clearfix product_form init smart-payment-button--{{ show_payment_button }} {% if product.variants.size > 1 or product.options.size > 1 %}product_form_options{% endif %} product_form--{{ form_style }}"
      id="product-form-{{ product.id }}"
      data-product-form
      data-money-format="{{ shop.money_format }}"
      data-shop-currency="{{ shop.currency }}"
      data-select-id="product-select-{{ product.id }}{{ product-form }}{{ object.id }}{{ block.id }}"
      data-enable-state="{% if template contains 'product' %}true{% else %}false{% endif %}"
      data-product="{{ product | json | escape }}"
      {% if settings.limit_quantity or settings.display_inventory_left %}
        data-variant-inventory='[{%- for v in product.variants -%}{"id":{{v.id}},"inventory_quantity":{{v.inventory_quantity}},"inventory_management":"{{v.inventory_management}}","inventory_policy":"{{v.inventory_policy}}"}{% if forloop.last == false %},{% endif %}{%- endfor -%}]'
      {% endif %}
      data-product-id="{{ product.id }}"
      >
  {% form 'product', product, data-productid: product.id %}

  {% if product.available %}
    {% include 'subscription-product' %}
  {% endif %} 

  {% if product.variants.size > 1 %}
    {% if product.options.size > 1 %}
      <div class="select-container">
          {% if type == 'quickshop' %}
            <div class="select">
          {% endif %}
          <select id="product-select-{{ product.id }}{{ product-form }}{{ object.id }}{{ block.id }}" data-productid="{{product.id}}" name="id" class="multi_select" data-variant-selector>
            {% for v in product.variants %}
              <option {% if v == variant %}selected="selected"{% endif %} value="{{ v.id }}" data-image-id="{{ v.featured_image.id }}" data-sku="{{ v.sku }}">{{ v.title }}</option>
            {% endfor %}
          </select>
          {% if type == 'quickshop' %}
            </div>
          {% endif %}
      </div>
    {% elsif product.options.size == 1 and product.variants.size > 1 or product.options.size == 1 and product.options[0] != "Title" %}
      <div class="select-container">
        <label class="label">Choose {{ product.options[0] }}</label>
        <div>
          {% if type == 'quickshop' %}
            <div class="select">
          {% endif %}
          <select id="product-select-{{ product.id }}{{ product-form }}{{ object.id }}{{ block.id }}" data-productid="{{product.id}}" name="id" data-variant-selector>
            {% for v in product.variants %}
              <option {% if v == variant %}selected="selected"{% endif %} value="{{ v.id }}" data-image-id="{{ v.featured_image.id }}" data-sku="{{ v.sku }}">{{ v.title }}</option>
            {% endfor %}
          </select>
          {% if type == 'quickshop' %}
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% else %}
    <input type="hidden" name="id" value="{{ variant.id }}" data-productid="{{product.id}}"/>
  {% endif %}

  {% if product.variants.size > 1 %}
    {% if form_style == "swatches" and product.variants.size > 1 or form_style == "swatches" and product.options[0] != "Title" %}

      {% unless autodeliver_form__show %}
        <div class="swatch_options collection_swatches">
          {% for option in product.options %}
            {% include 'product__swatch', option: option %}
          {% endfor %}
        </div>
      {% endunless %}

    {% endif %}
  {% endif %}

  {% if product.available %}
    {% if settings.display_inventory_left %}
      <p class="items_left">
        {% if variant.inventory_management != blank and variant.inventory_quantity > 0 %}
          {% capture items_left_text %}
            {% if variant.inventory_quantity == 1 %}
              {{ 'products.product.items_left_count.one' | t }}
            {% else %}
              {{ 'products.product.items_left_count.other' | t }}
            {% endif %}
          {% endcapture %}
          {% if variant.inventory_quantity <= settings.inventory_threshold %}
            {{ variant.inventory_quantity }} {{ items_left_text }}
          {% endif %}
        {% endif %}
      </p>
    {% endif %}

    <div class="purchase-details {% if settings.display_product_quantity %}has-quantity-box{% endif %}">
      {% if settings.display_product_quantity %}
        <div class="purchase-details__quantity product-quantity-box quantity-box--{{ settings.qty_box_style }}">
          {% include 'quantity-box' %}
        </div>
      {% endif %}
      {% comment %} Error message for add to cart action {% endcomment %}
      <div class="cart-warning"></div>
      <div class="purchase-details__buttons purchase-details__spb--{{ show_payment_button }}">
        {% if settings.cart_action == 'reload_page' %}
          <input type="hidden" name="return_to" value="back" />
        {% elsif settings.cart_action == 'redirect_checkout' %}
          <input type="hidden" name="return_to" value="/checkout" />
        {% endif %}

        {% capture add_to_cart_label %}{% if collection_handles contains 'pre-order' %}{{ 'collections.general.pre_order' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endif %}{% endcapture %}

        <button id="button--add-to-cart"
              type="{% if settings.cart_action == 'mini_cart' or settings.cart_action == 'drawer' %}button{% else %}submit{% endif %}" name="add" class="button {% if settings.cart_action == 'mini_cart' or settings.cart_action == 'drawer' %} ajax-submit {% endif %}action_button button--add-to-cart {% if show_payment_button %} action_button--secondary {% else %} action_button--primary {% endif %}" data-label={{ add_to_cart_label | json }} data-add-to-cart-trigger>

          
          <span class="add-to-cart__text add-to-cart__text--onetime" style="display:none;">
            <span id="rc_price_onetime" class="rc_price rc_price__onetime" aria-label="original price"></span>
            {{ add_to_cart_label }}
          </span>
          <span class="add-to-cart__text add-to-cart__text--subscribe">
            <span id="rc_price_autodeliver" class="rc_price rc_price__autodeliver" aria-label="recurring price"></span>
            Subscribe
          </span>
    

          <svg xmlns="http://www.w3.org/2000/svg" width="23.989" height="11.687" viewBox="0 0 23.989 11.687" class="add-to-cart-arrow">
            <path d="M23.989 5.843a.72.72 0 0 0-.173-.423L18.9.192a.615.615 0 0 0-.87-.024.634.634 0 0 0-.024.87l3.95 4.19H.615a.615.615 0 0 0 0 1.23h21.337L18 10.649a.645.645 0 0 0 .024.87.616.616 0 0 0 .87-.024l4.921-5.228a.548.548 0 0 0 .173-.423z"/>
          </svg>
        
        </button>

        {% if show_payment_button %}
          {{ form | payment_button }}
        {% endif %}

        <div class="rc_popup">
          {% if show_widget %}
            <div class="rc_popup__click">
              {% include settings.icon, name: "info" %} {{ subscription_details_label }}
              <div class="rc_popup__block">
                <div class="rc_popup__block__content">
                  <div class="rc_popup__close" style="display: none;">x</div>
                  {{ how_it_works_text }}
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
{% endform %}
</div>


{% if autodeliver_form__show %}
<script>


  $(document).on('change', 'input[name="purchase_type"]', function(){

    var type = $('input[name="purchase_type"]:checked').val();
    if(type == 'onetime') {
      $('.add-to-cart__text--onetime').show();
      $('.add-to-cart__text--subscribe').hide();
      $('.swatch-money-onetime').show();
      $('.swatch-money-subscribe').hide();
      $('#rc_autodeliver_options').hide();
      $('.rc_block__type__autodeliver .icon').removeClass('active');
    }
    if(type == 'autodeliver') {
      $('.add-to-cart__text--onetime').hide();
      $('.add-to-cart__text--subscribe').show();
      $('.swatch-money-onetime').hide();
      $('.swatch-money-subscribe').show();
      $('#rc_autodeliver_options').hide();
      $('.rc_block__type__autodeliver .icon').removeClass('active');
    }
  });

  $(document).on('change', 'input[name="option-01"]', function(){

    var current_pack = $('input[name="option-01"]:checked').val();
    $('.current-pack').text(current_pack);

    if (current_pack == '6-Pack') {
      $('.meal_txt .number').text('6 meals');
    }
    if (current_pack == '12-Pack') {
      $('.meal_txt .number').text('12 meals');
    }
  });
  
  $(document).on('click', '.rc_popup__click', function(){
    $('.rc_popup__block').toggleClass('visible');
  });

  function clickaddcart() {
    $("#button--add-to-cart").click();
  }
</script>
{% endif %}