<!-- Subscriptions Powered by ReCharge Payments: Begin Liquid Code -->
<!--
	Subscription Product
	http://rechargepayments.com: v3.5
-->
{% if product.metafields.subscriptions.subscription_id %}
	{% comment %}Subscriptions Powered by ReCharge Payments: Meta Fields{% endcomment %}
    	{% comment %}Widget settings{% endcomment %}
    	{% assign widget_settings = shop.metafields.subscriptions %}
    	{% if widget_settings.subscription_active == 'true' %}
    		{% assign subscription_active = true %}
    	{% else %}
    		{% assign subscription_active = false %}
    	{% endif %}
    	{% if widget_settings.select_subscription_first == 'true' %}
    		{% assign select_subscription_first = true %}
    	{% else %}
    		{% assign select_subscription_first = false %}
    	{% endif %}
        {% if widget_settings.disable_duplicates == 'true' %}
            {% assign disable_duplicates = true %}
        {% else %}
            {% assign disable_duplicates = false %}
        {% endif %}
    	{% comment %}Subscription settings{% endcomment %}
    	{% assign subscription_product = product.metafields.subscriptions %}
    	{% assign subscription_id = subscription_product.subscription_id %}
    	{% assign shipping_interval_unit_type = subscription_product.shipping_interval_unit_type | default: 'Days' %}
    	{% assign shipping_interval_frequency = subscription_product.shipping_interval_frequency | split: ',' | default: 30 %}
    	{% assign product_tags = product.tags | remove: ' ' | downcase %}

    	{% if subscription_product.is_subscription_only == 'true' or product_tags contains 'subscriptiononly' %}
    		{% assign subscription_only = true %}
    	{% else %}
    		{% assign subscription_only = false %}
    	{% endif %}
    	{% comment %}Discount settings{% endcomment %}
    	{% assign discount_percentage = subscription_product.discount_percentage | round: 2 %}
    	{% assign discount_floor = subscription_product.discount_percentage | floor %}
    	{% if discount_percentage == discount_floor %}
    		{% assign discount_percentage = discount_floor %}
    	{% endif %}
    	{% comment %}Widget translation{% endcomment %}
    	{% assign label_onetime = widget_settings.onetime_message | default: "One-time purchase" %}
    	{% assign label_autodeliver = widget_settings.subscribe_message | default: "Subscribe &amp; save" %}

    	{% assign label_unit_type = subscription_product.label_unit_type | default: shipping_interval_unit_type %}
		{% assign subscription_details_label = widget_settings.subscription_details_verbiage | default: "Subscription details" %}
		{% assign how_it_works_text = widget_settings.how_it_works | default: "<strong>How subscriptions work</strong><br><br>Products are automatically delivered on your schedule. No obligation, modify or cancel your subscription anytime." %}
		{% assign learnmore_link = widget_settings.learnmore_verbiage | default: "Learn more..." %}
        {% comment %}Popup settings{% endcomment %}
		{% if widget_settings.show_subscription_details == 'false' %}
			{% assign show_widget = false %}
		{% else %}
			{% assign show_widget = true %}
		{% endif %}
		{% if widget_settings.show_subscription_details_icon == 'false' %}
			{% assign show_widget_icon = false %}
		{% else %}
			{% assign show_widget_icon = true %}
		{% endif %}
		{% if widget_settings.show_learnmore == 'false' %}
			{% assign show_learnmore = false %}
		{% else %}
			{% assign show_learnmore = true %}
		{% endif %}
		{% if widget_settings.show_poweredby == 'false' %}
			{% assign show_poweredby = false %}
		{% else %}
			{% assign show_poweredby = true %}
		{% endif %}
    	{% comment %}Custom styling{% endcomment %}
		{% assign widget_label_color = "#8c8c8c" %}
		{% assign widget_price_color = "#d2b8cb" %}

    	{% assign widget_active_color = "#191919" %}
		{% assign widget_active_bg = widget_settings.background_color | default: "#ffffff" %}
		{% assign widget_active_price_color = "#a57096" %}

    	{% assign widget_icon = widget_settings.widget_icon | default: "black" %}
    	{% if widget_icon == "white" %}
    		{% assign widget_icon = "//rechargestatic-bootstrapheroes.netdna-ssl.com/static/images/widget/rc_widget__icon__white@2x.png" %}
    	{% else %}
    		{% assign widget_icon = "//rechargestatic-bootstrapheroes.netdna-ssl.com/static/images/widget/rc_widget__icon__black@2x.png" %}
    	{% endif %}
    	{% assign popup_zindex = widget_settings.popup_zindex | default: "56" %}
    	{% assign popup_background_color = widget_settings.popup_background_color | default: "#474747" %}
    	{% assign popup_text_color = widget_settings.popup_text_color | default: "#FFFFFF" %}
    	{% assign popup_link_color = widget_settings.popup_link_color | default: "#4DD6B7" %}
    	{% assign recharge_custom_css = widget_settings.custom_css | defalut: "" %}
		{% comment %}Learn more link{% endcomment %}
		{% if widget_settings.learnmore_url %}
			{% if widget_settings.learnmore_url contains "rechargepayments.com/subscribe-with-recharge" %}
				{% capture learnmore_url %}http://rechargepayments.com/subscribe-with-recharge?utm_source=shopify%20store&utm_medium=customer%20link&utm_campaign=Shopify%20store%20back%20link&shop_name={{ shop.name | url_param_escape }}&shop={{ shop.permanent_domain }}{% endcapture %}
			{% else %}
				{% assign learnmore_url = widget_settings.learnmore_url %}
			{% endif %}
		{% else %}
			{% capture learnmore_url %}http://rechargepayments.com/subscribe-with-recharge?utm_source=shopify%20store&utm_medium=customer%20link&utm_campaign=Shopify%20store%20back%20link&shop_name={{ shop.name | url_param_escape }}&shop={{ shop.permanent_domain }}{% endcapture %}
		{% endif %}
		{% comment %}Powered by badge{% endcomment %}
		{% if widget_settings.poweredby_url %}
			{% if widget_settings.poweredby_url contains "rechargepayments.com/subscribe-with-recharge" %}
				{% capture poweredby_url %}http://rechargepayments.com/subscribe-with-recharge?utm_source=shopify%20store&utm_medium=customer%20link&utm_campaign=Shopify%20store%20back%20link&shop_name={{ shop.name | url_param_escape }}&shop={{ shop.permanent_domain }}{% endcapture %}
			{% else %}
				{% assign poweredby_url = widget_settings.poweredby_url %}
			{% endif %}
		{% else %}
			{% capture poweredby_url %}http://rechargepayments.com/subscribe-with-recharge?utm_source=shopify%20store&utm_medium=customer%20link&utm_campaign=Shopify%20store%20back%20link&shop_name={{ shop.name | url_param_escape }}&shop={{ shop.permanent_domain }}{% endcapture %}
		{% endif %}
	<!-- Subscriptions Powered by ReCharge Payments: CSS -->
	<link href="//rechargeassets-bootstrapheroes-rechargeapps.netdna-ssl.com/static/css/rcWidget.css" rel="stylesheet" type="text/css">
	<style>
		/* Widget: Purchase options */
		label.rc_label {
			color: {{ widget_label_color }};
		}
		.rc_price {
			color: #000;
		}
		div.rc_block__type {
			background-color: {{ widget_active_bg }};
		}
		div.rc_block__type label.rc_label .icon.active {
			/*display: block;*/
		}
		div.rc_block__type label.rc_label .icon.disactive {
			/*display: block;*/
		}
		div.rc_block__type--active label.rc_label {
			color: {{ widget_active_color }};
		}
		div.rc_block__type--active .rc_label__deliver_every {
			font-size: 1rem;
    		padding: 8px 0 0 10px;
		}
		div.rc_block__type--active label.rc_label .icon.active {
			/*display: block;*/
		}
		div.rc_block__type--active label.rc_label .icon svg {
			transform: rotate(0deg);
		}
		div.rc_block__type--active label.rc_label .icon.active svg {
			transform: rotate(180deg);
		}
		div.rc_block__type--active label.rc_label .icon.disactive {
			display: none;
		}
		div.rc_block__type--active .rc_price {
			color: {{ widget_active_price_color }};
		}
		div.rc_block__type__options {
			display: flex;
		}
		/* Widget: Popup */
		div.rc_popup {
			padding: 8px 0;
			cursor: pointer;
            width: 100%;
		}
		div.rc_popup__block {
			z-index: {{ popup_zindex }};
		}
		div.rc_popup__block:before {
			border-bottom-color: {{ popup_background_color }};
		}
		div.rc_popup__block {
			background-color: {{ popup_background_color }} !important;
		}
		div.rc_popup__close,
		div.rc_popup__block__content,
		div.rc_popup__block__content strong {
			color: {{ popup_text_color }} !important;
		}
		div.rc_popup__block__content a {
			color: {{ popup_link_color }} !important;
		}
		/* ReCharge CSS */
		{{ recharge_custom_css }}
		/* Add Custom CSS Below */
		div#rc_container {
			margin-bottom: 0;
			margin-top: -6px;
		}
		div.rc_block__type {
			background-color: #fff;
		}
		div.rc_block__type.rc_block__type--active {
			border-radius: 3px;
			border: solid 1px #4495ea;
			background-color: #c4e6ff;
		}
		label.rc_label {
			color: #000;
		}
		#rc_radio_options {
			display: flex;
		}

		#rc_autodeliver_options {
			z-index: 5;
			background: #fff;
			position: absolute;
			left: -1px;
			right: -1px;
    		top: 30px;
			border: 1px solid #a57096;
			border-top: none;
			padding: 0 30px;
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;
			display: none;
		}
		#rc_autodeliver_options	.swatch {
			padding: 0;
		}
		#rc_autodeliver_options	.swatch .swatch-element {
			background: none;
			border: none;
			width: 100%;
			margin: 0;
			min-height: 25px;
		}
		#rc_autodeliver_options	.swatch .swatch-element label {
			display: block;
			min-width: 40px;
			margin: 0;
			font-size: 12px;
			text-align: left;
			padding: 3px 0;
			line-height: 1.2;
			white-space: nowrap;
			text-transform: none;
			cursor: pointer;
			color: #a57096;
			font-weight: normal;
		}
		#rc_autodeliver_options	.swatch .swatch_options input:checked+.swatch-element {
			color: #4899d4;
		}

		div.rc_block__type__autodeliver.rc_block__type--active #rc_autodeliver_options  {
			/*display: block;*/
		}  
		
		.rc_label__discount {
			border-radius: 5px;
			background-color: #f1f9ff;
			color: #000;
			font-size: 14px;
			padding: 3px 7px;
			font-weight: bold;
			margin-left: 7px;
		}
		.rc_label__autodeliver_text, .rc_label__onetime_text {
			padding-top: 4px;
		}

		#rc_autodeliver_options input:checked +  .swatch-element label {
			color: #4899d4 ;
		}
		#rc_autodeliver_options .swatch-element label:hover {
			color: #4899d4 ;
		}

		div.rc_popup__block {
			width: 100%;
			padding: 0;
			display: none;
			position: absolute;
			top: -108px;
			cursor: default;
			left: 0;
			text-align: left;
			white-space: normal;
			border: 1px solid #a57096;
			border-radius: 5px;
		}
		div.rc_popup__click {
			color: #4899d4;
			font-size: 13px;
			display: flex;
			position: relative;
		}
		a.rc_popup__hover, div.rc_popup__hover {
			color: #4899d4;
			font-size: 13px;
			display: flex;
		}
		a.rc_popup__hover .icon , div.rc_popup__hover .icon, .rc_popup__click .icon {
			margin-right: 7px;
		}
		div.rc_popup__block:before {
			display: block;
			content: "";
			width: 1px;
			border: 9px solid transparent;
			position: absolute;
			bottom: -18px;
			left: calc(50% - 9px);
			border-top-color: #fff;
			z-index: 1;
			top: initial;
		}
		div.rc_popup__block:after {
			display: block;
			content: "";
			width: 1px;
			border: 11px solid transparent;
			position: absolute;
			bottom: -22px;
			left: calc(50% - 11px);
			border-top-color: #a57096;
			top: initial;
		}
		div.rc_popup__block__content {
			white-space: normal;
			padding: 20px;
			font-size: 14px;
			color: #000;
		}


		@media only screen and (max-width: 798px) {
			div#rc_container {
				margin-top: 20px;
			}
			#rc_radio_options {
				display: flex;
				flex-wrap: wrap;
			}
			/*.product-form-container .rc_block__type {
				margin-right: 0;
				width: 100%;
				margin-bottom: 15px;
				height: 45px;
    			padding: 14px;
			}*/
			.product-form-container .rc_block__type.rc_block__type__autodeliver {
				margin-right: 0;
				margin-left: 0;
              	padding: 6px 0 0 25px !important;
			}
			.rc_label__discount {
				font-size: 10px;
				padding: 2px 5px;
				margin-left: 0;
			}
			#rc_container .swatch .swatch-element {
				width: 100% !important;
			}
			.product_section .pack-image img {
				width: 54px;
				height: 42px;
			}
			.product_section .product_form {
				min-height: 330px;
			}
			div.rc_popup__block {
				width: 100%;
				top: -166px;
			}
			.product-form-container .rc_label .icon {
				top: 6px;
    			right: -1px;
			}
			#rc_container .rc_label {
				font-size: 12px;
				font-weight: bold;
				line-height: 16px!important;
			}
			.product-form-container .rc_block__type {
				border: 1px solid #ccc;
				margin-right: 6px;
				height: 35px;
				position: relative;
				width: calc(50% - 6px);
              	padding: 8px 0 0 25px !important;
			}
			.product-form-container .rc_block__type.rc_block__type__onetime {
				padding: 12px 4px;
    			height: 42px;
			}
			#rc_container .rc_label div {
				display: flex;
				align-items: center;
				justify-content: space-evenly;
			}
			.product-form-container .rc_block__type.rc_block__type__autodeliver {
				padding: 12px 14px 12px 4px;
				height: 42px;
			}
		}
	</style>

	<!-- Subscriptions Powered by ReCharge Payments: HTML -->
	<div id="rc_container" {% if subscription_only %}class="rc_subscription-only"{% endif %} style="display: none;">
		<input type="hidden" name="" id="rc_subscription_id" value="{{ subscription_id }}">
		<input type="hidden" name="" id="rc_shipping_interval_unit_type" value="{{ shipping_interval_unit_type }}">
		<select id="rc_duplicate_selector" aria-hidden="true" class="styled replaced no-js" style="display: none;">
			{% for variant in product.variants %}
				<option value="{{ variant.metafields.subscriptions.discount_variant_id }}">{{ variant.metafields.subscriptions.discount_variant_id }}</option>
			{% endfor %}
		</select>
		{%- comment -%}
		{% if shipping_interval_frequency.size > 1 %}
			<span class="rc_label__frequency">
				Deliver Every: <span class="current-freq">{{ shipping_interval_frequency[0] }} {{ label_unit_type }}</span>
			</span>
		{% endif %}
		{%- endcomment -%}
		<div id="rc_radio_options" role="radiogroup" aria-labelledby="Purchase options">
			<div class="rc_block rc_block__type rc_block__type__autodeliver {% if select_subscription_first %}rc_block__type--active{% endif %}" {% if subscription_only and shipping_interval_frequency.size == 1 %}style="display: none;"{% endif %}>
				{% if subscription_only %}
					<input type="radio" name="purchase_type" id="rc_purchase_type_autodeliver" value="autodeliver" {% if select_subscription_first %}checked{% endif %} class="rc_radio rc_radio__autodeliver" {% if subscription_only %}style="display: none;"{% endif %}>
				{% else %}
					<label for="rc_purchase_type_autodeliver" class="rc_label rc_label__autodeliver">
					  <div class="rc_label__autodeliver_text">
					    <input type="radio" name="purchase_type" id="rc_purchase_type_autodeliver" value="autodeliver" {% if select_subscription_first %}checked{% endif %} class="rc_radio rc_radio__autodeliver" {% if subscription_only %}style="display: none;"{% endif %}>
						{{ label_autodeliver }}
						{% if discount_percentage > 0 %}
							<span class="rc_label__discount" aria-label="subscription discount">{{ discount_percentage }}% off</span>
						{% endif %}
						{%- comment -%}
						{% include settings.icon, name: 'down-caret-blue',icon_class: '' %}
						{%- endcomment -%}
					  </div>
					</label>
				{% endif %}

				<div id="rc_autodeliver_options" class="rc_block rc_block__type__options">
					
					<label style="display: none !important;"
							for="rc_shipping_interval_frequency"
					 		class="rc_label rc_label__deliver_every" 
					 		aria-label="Subscription frequency options">
						
						{% if shipping_interval_frequency.size > 1 %}
							<span class="rc_label__frequency">
								Choose Frequency:
							</span>
						{% endif %}
					</label>

					<div class="swatch_options">
						<div class="swatch is-flex is-flex-wrap rc_select" {% if shipping_interval_frequency.size == 1 %}style="display: none;"{% endif %}>
							{% for frequency in shipping_interval_frequency %}						
							<input type="radio" name="radio-frequency" id="frequency-{{ frequency }}" value="{{ frequency }}" 
								{% if forloop.first %} checked {% endif %}>
							<div class="swatch-element">	
								<label for="frequency-{{ frequency }}" value="{{ frequency }}">
									{{ frequency }}
									{% if frequency == "1" and label_unit_type == 'Months' or label_unit_type == 'Weeks' %}
										{{ label_unit_type | remove: 's' }}
									{% else %}
										{{ label_unit_type }}
									{% endif %}
								</label>
							</div>
							{% endfor %}
						</div>
					</div>

					<script>
						$('input[name="radio-frequency"]').on("click", function(e) {
							var value = $(this).val();
							$("select.rc_select").val(value);
						});
					</script>



				</div>
			</div>

			{% unless subscription_only %}
			<div class="rc_block rc_block__type rc_block__type__onetime {% unless select_subscription_first %}rc_block__type--active{% endunless %}">
				<label for="rc_purchase_type_onetime" class="rc_label rc_label__onetime">
					<div class="rc_label__onetime_text">
						<input type="radio" id="rc_purchase_type_onetime" name="purchase_type" value="onetime" {% unless select_subscription_first %}checked{% endunless %} class="rc_radio rc_radio__onetime">
						{{ label_onetime }}
					</div>
				</label>

			</div>
			{% endunless %}

		</div>
		
		<div class="rc_label__frequency rc_label__frequency_wrap" style="display: none;">	
			<div class="rc_label__frequency_label">
				Deliver Every: <span class="current-freq">{{ shipping_interval_frequency[0] }} {{ label_unit_type }}</span>
			</div>

			<select name="" id="rc_shipping_interval_frequency" class="rc_select rc_select__frequency styled replaced" 
				{% if shipping_interval_frequency.size == 1 %}style="display: none;"{% endif %}
			>
				{% for frequency in shipping_interval_frequency %}
					<option value="{{ frequency }}">
						{{ frequency }}
						{% if frequency == "1" and label_unit_type == 'Months' or label_unit_type == 'Weeks' %}
							{{ label_unit_type | remove: 's' }}
						{% else %}
							{{ label_unit_type }}
						{% endif %}
					</option>
				{% endfor %}
			</select>
		</div>

		<div id="rc_options" class="rc_block rc_block__type__options" data-optionsize="{{ product.options.size }}">		
							
			<div class="swatch_options collection_swatches">
				{% for option in product.options %}
					{% include 'product__options', option: option, id: '1' %}
				{% endfor %}
			</div>			
		</div>


	</div>
	<!-- Subscriptions Powered by ReCharge Payments: JS -->
    <script src="//rechargeassets-bootstrapheroes-rechargeapps.netdna-ssl.com/static/js/rcWidget.js"></script>
	<script>
		(function() {
			var options = {
					active: {{ subscription_active }},
					select_subscription_first: {{ select_subscription_first }},
					money_format: '{{ shop.money_format }}',
					disable_duplicates: {{ disable_duplicates }},
				},
				myProduct = {
					id: {{ product.id }},
					subscription_only: {{ subscription_only }},
					variant_to_duplicate: { {% for variant in product.variants %}{{ variant.id }}:'{{ variant.metafields.subscriptions.discount_variant_id }}', {% endfor %} },
					variant_to_price: { {% for variant in product.variants %}{{ variant.id }}:'{{ variant.price }}', {% endfor %} },
					duplicate_to_price: { {% for variant in product.variants %}{{ variant.metafields.subscriptions.discount_variant_id }}: '{{ variant.metafields.subscriptions.discount_variant_price | replace: ".", "" }}', {% endfor %} },
				};
			if (document.readyState === "complete" || document.readyState === "loaded") {
				if (!window.ReCharge) { 
					window.ReCharge = new rcWidget(options); 
				}
				ReCharge.addProduct(myProduct);
			} else {
				document.addEventListener("DOMContentLoaded", function() {
					if (!window.ReCharge) { window.ReCharge = new rcWidget(options); }
					ReCharge.addProduct(myProduct);
				});
			}
		})();
	</script>
  
{% endif %}
<!-- Subscriptions Powered by ReCharge Payments: End Liquid Code -->
