{% comment %}
** Collection menu - static **
- Static section
- Uses blocks
{% endcomment %}

{% assign id = section.id %}
{% comment %}Colors{% endcomment %}
{% assign background = section.settings.background %}
{% assign link_color = section.settings.link_color %}
{% assign link_hover_color = section.settings.link_hover_color %}
{% assign border_color = section.settings.border_color %}
{% comment %} Advanced {% endcomment %}
{% assign width = section.settings.width %}
{% assign css_class = section.settings.css_class %}
{% assign custom_css = section.settings.custom_css %}

{% comment %} Is the color set to transparent? {% endcomment %}
{% assign background_alpha = background | color_extract: 'alpha' %}
{% assign link_alpha = link_color | color_extract: 'alpha' %}
{% assign link_hover_alpha = link_hover_color | color_extract: 'alpha' %}

{% comment %} Section specific CSS {% endcomment %}
{% capture section_css -%}

  a.icon-bar__block {
    height: 100%;
    color: {%- if link_alpha != 0 -%}{{ link_color }}{%- endif -%};
    border: 2px solid transparent;
  }

  a.icon-bar__block:hover {
    color: {%- if link_hover_alpha != 0 -%}{{ link_hover_color }}{%- endif -%};
    border-radius: 50px;
    border-color: {{ border_color }};
  }

  .collection-menu__nav--prev, .collection-menu__nav--next{
    color: {{ border_color }};
  }

  {% if section.blocks.size == 3 %} 
  .collection-menu__nav {
    display:none;
  }
  {% endif %}
{%- endcapture -%}

{% style %}
  #shopify-section-{{ id }} {
    background-color: {%- if background_alpha != 0 -%}{{ background }}{%- endif -%};
    {% if width == 'wide' %}
      width: 100%;
    {% endif %}
  }

  {% include 'css-loop', css: section_css, id: id %}
  {% include 'css-loop', css: custom_css, id: id %}
{% endstyle %}

{% comment %} HTML markup {% endcomment %}
<section class="section
                has-padding-top
                has-padding-bottom
                is-width-{{ width }}
                {{ css_class }}">
  {% if section.blocks.size > 2 %}
    <div class="container collection-menu__nav">
      <div class="collection-menu__nav--prev">
        {% include settings.icon, name: 'left-caret' %}
      </div>
      <div class="collection-menu__nav--next ">
        {% include settings.icon, name: 'right-caret' %}
      </div>
    </div>
  {% endif %}
  <div class="collection-menu {% if section.blocks.size <= 2 %} container {% endif %}" {% if section.blocks.size > 2 %} data-collection-menu-slider {% endif %}>
    {% for block in section.blocks %}
      {% assign icon = block.settings.icon | downcase %}

      <div class="one-third medium-down--one-half column" data-collection-menu-index={{ forloop.index0 }} {{ block.shopify_attributes }}>
          <a href="{{ block.settings.link }}" class="icon-bar__block is-{{ section.settings.size }} is-flex is-align-center is-flex-{{ section.settings.icon_position }} is-justify-{{ section.settings.alignment }}" {{ block.shopify_attributes }}>

          {% if icon != blank %}
            {% include settings.icon, name: icon %}
          {% endif %}

          {% if block.settings.text != blank %}
              <p class="icon-bar__text highlight__text {% if section.settings.icon_position == 'column' %} text-align-center {% endif %}">{{ block.settings.text }}</p>
          {% endif %}
          </a>
      </div>
    {% endfor %}
  </div>
</section>

{% comment %}JavaScript{% endcomment %}
<script data-theme-editor-load-script src="{{ 'z__jsCollectionMenu.js' | asset_url }}"></script>

{% schema %}

{
  "name": "Collection Menu",
  "class": "icon-bar jsCollectionMenu",
  "max_blocks": 6,
  "settings": [
    {
      "type": "select",
      "id": "alignment",
      "label": "Alignment",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "icon_position",
      "label": "Icon position",
      "options": [
        {
          "value": "row",
          "label": "Left"
        },
        {
          "value": "column",
          "label": "Center"
        }
      ],
      "default": "row"
    },
    {
      "type": "select",
      "id": "size",
      "label": "Base size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Regular"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#8B8B8B"
    },
    {
      "type": "color",
      "id": "link_color",
      "label": "Links",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "link_hover_color",
      "label": "Links hover",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Border",
      "default": "#f4364c"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "standard",
      "options": [
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ]
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "paragraph",
      "content": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "collection list",
      "settings": [
        {
          "type": "text",
          "id": "icon",
          "label": "Icon",
          "default": "chat",
          "info": "[Icon list](https://help.outofthesandbox.com/hc/en-us/articles/360021570294)"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        }
      ]
    }
  ]
}


{% endschema %}
