{% comment %}
** Login template - main content area **
{% endcomment %}

{% assign id = section.id %}
{% comment %}Layout{% endcomment %}
{% assign width = section.settings.width %}
{% assign padding_top = section.settings.padding_top %}
{% assign padding_bottom = section.settings.padding_bottom %}
{% comment %}Advanced{% endcomment %}
{% assign css_class = section.settings.css_class %}
{% assign custom_css = section.settings.custom_css %}

{% style %}
  .heading-wrapper--login.heading-wrapper.heading-wrapper--.one-whole.column.is-flex.is-flex-column.is-align-left.text-align-left {
      margin-left: 0px;
  }
  .section__wrapper {
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
  }
  div#rc_login {
      text-align: left !important;
  }

  {% include 'css-loop', css: section_css, id: id %}
  {% include 'css-loop', css: custom_css, id: id %}
{% endstyle %}
<section class="section section__wrapper is-width-{{ width }} {{ css_class }}">
  {% include 'cookies', position: 'right' %}
  <div class="container">
    <div id="loginbackground" class="one-half medium-down--one-whole column is-flex is-flex-column is-justify-center  is-align-center">
      <div id="recover" class="login has-padding" style='display:none'>
        <div class="animated fadeInUp ">

          <h2 class="has-padding-bottom">{{ 'customer.recover_password.title' | t }}</h2>

          {% form 'recover_customer_password' %}
            {{ form.errors | default_errors }}

            {% if form.posted_successfully? %}
              {% assign reset_success = true %}
            {% endif %}

            <div id="recover_email">
              <div class="field">
                <label class="label" for="email">{{ 'customer.recover_password.email' | t }}</label>
                <div class="control">
                  <input type="email" value="" size="30" name="email" id="recover-email" class="input" autocorrect="off" autocapitalize="off" placeholder="{{ 'customer.login.email' | t }}" />
                </div>
              </div>
            </div>

            <p class="recover-note has-padding-top has-padding-bottom">
              <em>{{ 'customer.recover_password.subtext' | t }}</em>
            </p>

            <div class="recover-options is-flex is-align-center is-justify-space-between">
              <input class="button button--secondary" type="submit" value="{{ 'customer.recover_password.submit' | t }}" />
              <span class="has-margin-left"><a href="#" class="cancel-recover-password">{{ 'customer.recover_password.cancel' | t }}</a></span>
            </div>
          {% endform %}
        </div>
      </div>

      <div id="login" class="login has-padding">
      {%- capture title -%}{{ 'customer.login.title' | t }}{%- endcapture -%}
      {% include 'heading', title: title, heading_tag: 'h1', context: 'login', text_alignment: 'left' %}
  
        <div id="customer" class="login__form">

          {% form 'customer_login' %}
            {{ form.errors | default_errors }}

            <div class="field">
              <label class="label" for="{{ label | replace: ' ', '_' }}">{{ 'customer.login.email' | t }}*</label>
              <div class="control">
                {% comment %}
                  placeholder="{{ 'customer.login.email' | t }}"
                {% endcomment %}
                <input type="email" value="" name="customer[email]" id="customer_email" class="input" size="30"  autocorrect="off" autocapitalize="off" tabindex="1"/>
              </div>
            </div>

            {% if form.password_needed %}

              {% comment %}
                Customer Account Login
              {% endcomment %}

            {% endif %}
            <div class="field pass-field">
              <label class="label" for="{{ label | replace: ' ', '_' }}">{{ 'customer.login.password' | t }}*</label>
              <div class="control">
                <input type="password" value="" name="customer[password]" id="customer_password" class="input" size="16" tabindex="2"/>
              </div>           
            </div>

            <div class="is-flex is-flex-column is-justify-space-between  is-align-start">
              <small class="right has-margin-bottom forgot-pass"><a class="js-recover-password" href="#">{{ 'customer.login.forgot_password' | t }}</a></small>
            
              <input class="button button--secondary has-margin-bottom " type="submit" value="{{ 'customer.login.sign_in' | t }}" tabindex="3" />
              
              {% if section.settings.richtext != blank %}
              <div class="login__text">
                {{ section.settings.richtext }}
              </div>
              {% endif %}

              {% unless shop.checkout.guest_login %}
              <p class="has-padding-top new-customer">
                {{ 'customer.login.sign_up_html' | t | customer_register_link | replace: 'id="customer_register_link"', 'class="button button--secondary button--submit"' }}
              </p>
            {% endunless %} 
            </div>
  {% comment %}
            {% unless shop.checkout.guest_login %}
              <p class="has-padding-top">
                {{ 'customer.login.new_customer_label' | t }} {{ 'customer.login.sign_up_html' | t | customer_register_link | replace: 'id="customer_register_link"', 'class="hoverButton"' }}
              </p>
            {% endunless %}
  {% endcomment %}
          {% endform %}
          {% if shop.checkout.guest_login %}
            <span class="has-padding-top"> {{ 'customer.login.or' | t }} </span>
            {% form 'guest_login' %}
              <input class="button button--secondary" type="submit" value="{{ 'customer.login.guest_title_html' | t }}" />
            {% endform %}
          {% endif %}
        </div>
  {% comment %}      
        <!-- Begin ReCharge code -->
        {% include 'subscription-account-login' %}
        <!-- End ReCharge code -->
  {% endcomment %}      
      </div>
    </div>
 
    <div class="login__image one-half medium-down--one-whole column is-order-aligned-{{ section.settings.image_position }}">
      {% if section.settings.image %}
        {% include 'image-element', image: section.settings.image, alt: section.settings.image.alt,  additional_classes: 'login__image__element' %}

      {% endif %}

      {% if section.settings.reset_image %}
        {% include 'image-element', image: section.settings.reset_image, alt: section.settings.reset_image.alt, additional_classes: 'reset__image__element' %}
      {% endif %}
    </div>

  </div>
</section>

{% comment %}JavaScript{% endcomment %}
<script src="{{ 'z__jsAccounts.js' | asset_url }}"></script>



{% schema %}
  {
    "name": "Login",
    "class": "login-page jsAccounts",
    "settings": [
      {
        "type": "richtext",
        "id": "richtext",
        "label": "Text"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "1000 x 700px recommended"
      },
      {
        "type": "select",
        "id": "image_position",
        "label": "Image position",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "right"
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "image_picker",
        "id": "reset_image",
        "label": "Reset mage",
        "info": "1000 x 700px recommended"
      },
      {
        "type": "select",
        "id": "width",
        "label": "Width",
        "default": "standard",
        "options": [
          {
            "value": "standard",
            "label": "Standard"
          },
          {
            "value": "wide",
            "label": "Wide"
          }
        ]
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Top spacing",
        "min": 0,
        "max": 80,
        "default": 40,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Bottom spacing",
        "min": 0,
        "max": 80,
        "default": 40,
        "unit": "px"
      },
      {
        "type": "header",
        "content": "Advanced"
      },
      {
        "type": "paragraph",
        "content": "[Learn more](https://help.eagoats.com/hc/en-us/articles/360022329373)"
      },
      {
        "type": "text",
        "id": "css_class",
        "label": "CSS Class"
      },
      {
        "type": "textarea",
        "id": "custom_css",
        "label": "Custom CSS"
      }
    ]
  }
{% endschema %}
