{% comment %}
** Page details - custom view **
- Page template
- Uses blocks
{% endcomment %}

{% assign id = section.id %}
{% comment %} Advanced {% endcomment %}
{% assign css_class = section.settings.css_class %}
{% assign custom_css = section.settings.custom_css %}

{% comment %} Section specific CSS {% endcomment %}
{% style %}
  {% include 'css-loop', css: custom_css, id: id %}
{% endstyle %}

<section class="details__page {{ css_class }}" data-check-for-order="true">

  {% if section.blocks.size > 0 %}
    <div class="page-details__blocks is-flex is-flex-wrap is-justify-center">
      {% for block in section.blocks %}

        <div id="shopify-section-{{ block.id }}" {{ block.shopify_attributes }}
        class="shopify-section
                details__block
                block__{{ block.type | downcase | replace: '_', '-' }}

                {% if block.type == 'monthly_box__videobanner' %}
                  Monthly-Box_video video-section jsVideo

                {% elsif block.type == 'monthly_box__texts' %}
                  text-with_background medium-down--hide-cookie_bg

                {% elsif block.type == 'monthly-box__product' %}
                  
                {% elsif block.type == 'monthly_box__icontexts' %}
                    monthly-box__icontext medium-down--hide-cookie_bg

                {% elsif block.type == 'monthly_box__wideimage' %}
                    wide-image

                {% elsif block.type == 'monthly_box__faq' %}
                {% endif %}">

        {% if block.type == "monthly_box__videobanner" %}
          {% include 'include-video', type: 'block' %}

        {% elsif block.type == "monthly_box__texts" %}
          {% include 'include-icon-with-text-button', type: 'block' %}

        {% elsif block.type == 'monthly-box__product' %}
            <!-- FAQ Products -->
            <div class="monthly-box-product-container" id="monthly-box-product-container">
            </div>

        {% elsif block.type == 'monthly_box__icontexts' %}
          {% include 'include-icon-with-text', type: 'block' %}

        {% elsif block.type == 'monthly_box__wideimage' %}
          {% include 'include-wide-image' %}

        {% elsif block.type == 'monthly_box__faq' %}
            <!-- FAQ -->
            <div class="monthly-box-faq-container" id="monthly-box-faq-container">
            </div>
        {% endif %}

        </div>
      {% endfor %}
    </div>
  {% endif %}

</section>

<script data-theme-editor-load-script src="{{ 'z__jsMonthlyboxPage.js' | asset_url }}"></script>
{% schema %}
{
  "name": "Page sections",
  "class": "page-details details page-monthly__box jsMonthlyboxPage",
  "max_blocks": 20,
  "settings": [
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "paragraph",
      "content": "[Learn more](https://help.eagoats.com/hc/en-us/articles/360022329373)"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
  "blocks": [
    {
      "type": "monthly_box__videobanner",
      "name": "Video",
      "settings": [
        {
            "type": "header",
            "content": "Video" 
        },
        {
            "type": "select",
            "id": "aspect_ratio",
            "label": "Aspect ratio",
            "options": [
                {
                    "value": "16:9",
                    "label": "16:9"
                },
                {
                    "value": "4:3",
                    "label": "4:3"
                }
            ],
            "default": "16:9"
        },
        {
            "type": "checkbox",
            "id": "autoplay",
            "label": "Autoplay on compatible devices",
            "info": "[Learn more](https:\/\/help.eagoats.com\/hc\/en-us\/articles\/360000661568)",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "autoloop",
            "label": "Autoloop video",
            "default": true
        },
        {
            "type": "video_url",
            "id": "iframe_video",
            "label": "YouTube or Vimeo video URL",
            "accept": ["youtube", "vimeo"],
            "default": "https://www.youtube.com/watch?v=8NxS0vrPcsA"
        },
        {
            "type": "text",
            "id": "html5_video",
            "label": "HTML5 MP4/OGV File URL"
        },
        {
            "type": "checkbox",
            "id": "controls",
            "label": "Enable HTML5 video controls",
            "default": true
        },
        {
            "type": "header",
            "content": "Content"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "1600 x 900px recommended"
        },
        {
            "type": "checkbox",
            "id": "show_wave_border",
            "label": "Show Wave Border",
            "default": true
        },
        {
            "type": "text",
            "id": "title_inside",
            "label": "Title",
            "default": "Love comes knocking <br> once a month"
        },
        {
            "type": "text",
            "id": "title-watch_now",
            "label": "WATCH NOW!",
            "default": "WATCH NOW!"
        },
        {
            "type": "select",
            "id": "horizontal_text_position",
            "label": "Horizontal position",
            "options": [
                {
                "value": "left",
                "label": "Left"
                },
                {
                "value": "center",
                "label": "Center"
                },
                {
                "value": "right",
                "label": "Right"
                }
            ],
            "default": "center"
        },
        {
            "type": "select",
            "id": "vertical_text_position",
            "label": "Vertical position",
            "options": [
                {
                    "value": "start",
                    "label": "Top"
                },
                {
                    "value": "center",
                    "label": "Middle"
                },
                {
                    "value": "end",
                    "label": "Bottom"
                }
            ],
            "default": "center"
        },
        {
            "type": "select",
            "id": "text_align",
            "label": "Text alignment",
            "options": [
                {
                "value": "left",
                "label": "Left"
                },
                {
                "value": "center",
                "label": "Center"
                },
                {
                "value": "right",
                "label": "Right"
                }
            ],
            "default": "center"
        },
        {
            "type": "text",
            "id": "button_label",
            "label": "Button label",
            "default": "Play video"
        },
        {
            "type": "select",
            "id": "button_style",
            "label": "Button style",
            "default": "button--secondary",
            "options": [
                {
                "value": "button--primary",
                "label": "Primary"
                },
                {
                "value": "button--secondary",
                "label": "Secondary"
                },
                {
                "value": "button--link-style",
                "label": "Link style"
                }
            ]
        },
        {
            "type": "header",
            "content": "Overlay"
        },
        {
            "type": "select",
            "id": "overlay_style",
            "label": "Overlay style",
            "default": "text_only",
            "options": [
                {
                "value": "full",
                "label": "Full"
                },
                {
                "value": "text_only",
                "label": "Text only"
                },
                {
                "value": "none",
                "label": "None"
                }
            ]
        },
        {
            "type": "color",
            "id": "video_overlay_color",
            "label": "Overlay",
            "default": "#ffffff"
        },
        {
            "type": "color",
            "id": "gradient",
            "label": "Gradient",
            "default": "rgba(0,0,0,0)"
        },
        {
            "type": "range",
            "id": "gradient_rotation",
            "label": "Gradient rotation",
            "min": 0,
            "max": 180,
            "default": 180,
            "unit": "deg",
            "step": 10
        },
        {
            "type": "range",
            "id": "background_opacity",
            "label": "Background opacity",
            "default": 0,
            "min": 0,
            "max": 100,
            "unit": "%"
        },
        {
            "type": "range",
            "id": "text_width",
            "label": "Text width",
            "min": 40,
            "max": 100,
            "default": 70,
            "unit": "%"
        },
        {
            "type": "header",
            "content": "Layout"
        },
        {
            "type": "select",
            "id": "width",
            "label": "Width",
            "default": "wide",
            "options": [
                {
                "value": "half",
                "label": "Half"
                },
                {
                "value": "standard",
                "label": "Standard"
                },
                {
                "value": "wide",
                "label": "Wide"
                }
            ]
        },
        {
            "type": "range",
            "id": "padding_top",
            "label": "Top spacing",
            "min": 0,
            "max": 80,
            "default": 0,
            "unit": "px"
            },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Bottom spacing",
            "min": 0,
            "max": 80,
            "default": 0,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "padding_left",
            "label": "Left spacing",
            "min": 0,
            "max": 80,
            "default": 0,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "padding_right",
            "label": "Right spacing",
            "default": 0,
            "min": 0,
            "max": 80,
            "unit": "px"
        },
        {
            "type": "select",
            "id": "animation",
            "label": "Animation",
            "default": "none",
            "options": [
                {
                    "value": "none",
                    "label": "None"
                },
                {
                    "value": "fadeIn",
                    "label": "Fade in"
                },
                {
                    "value": "fadeInDown",
                    "label": "Fade in down"
                },
                {
                    "value": "fadeInLeft",
                    "label": "Fade in left"
                },
                {
                    "value": "fadeInRight",
                    "label": "Fade in right"
                },
                {
                    "value": "slideInLeft",
                    "label": "Slide in left"
                },
                {
                    "value": "slideInRight",
                    "label": "Slide in right"
                },
                {
                    "value": "zoomIn",
                    "label": "Zoom in"
                }
            ]
        },
        {
            "type": "header",
            "content": "Advanced"
        },
        {
            "type": "paragraph",
            "content": "[Learn more](https://help.eagoats.com/hc/en-us/articles/360022329373)"
        },
        {
            "type": "text",
            "id": "css_class",
            "label": "CSS Class"
        },
        {
            "type": "textarea",
            "id": "custom_css",
            "label": "Custom CSS"
        }
      ]
    },
    {
        "type": "monthly_box__texts",
        "name": "Text with Background",
        "settings": [
            {
                "type": "checkbox",
                "id": "show_this_section",
                "label": "Show Icon With Text Button",
                "default": true
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "Eat Cookies, Give Cookies, Make<br>Cookie Sandwiches, And Love <br>More People With A Meal."
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Sub Title",
                "default": "For every box we’ll donate 2 meals to our partner soup <br> kitchens. Subscribe for a 3, 6, 12 month contribution to end <br> hunger with us deliciously!"
            },
            {
                "type": "select",
                "id": "width",
                "label": "Width",
                "default": "standard",
                "options": [
                    {
                    "value": "standard",
                    "label": "Standard"
                    },
                    {
                    "value": "wide",
                    "label": "Wide"
                    }
                ]
            },
            {
                "type": "range",
                "id": "padding_top",
                "label": "Top spacing",
                "min": 0,
                "max": 80,
                "default": 20,
                "unit": "px"
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "label": "Bottom spacing",
                "min": 0,
                "max": 80,
                "default": 20,
                "unit": "px"
            },
            {
                "type": "color",
                "id": "background_color",
                "label": "Backgroud color",
                "default": "#ffffff"
            },
            {
                "type": "checkbox",
                "id": "show_background_image",
                "label": "Background Image",
                "default": true
            },
            {
                "type": "text",
                "id": "css_class",
                "label": "CSS Class"
            },
            {
                "type": "textarea",
                "id": "custom_css",
                "label": "Custom CSS"
            }
        ] 
    },
    {
      "type": "monthly-box__product",
      "name": "Products",
      "limit": 1,
      "settings": [
        {
         "type": "paragraph",
         "content": "This block can be configured using the FAQ Products section settings."
        }
      ]
    },
    {
        "type": "monthly_box__icontexts",
        "name": "Icon Text",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Heading",
                "default" : "Why Subscribe?"
            },
            {
                "type": "range",
                "id": "icons_per_row",
                "label": "Items per row",
                "min": 1,
                "max": 8,
                "default": 4
            },
            {
                "type": "select",
                "id": "icon_size",
                "label": "Icon size",
                "options": [
                    {
                    "value": "small",
                    "label": "Small"
                    },
                    {
                    "value": "medium",
                    "label": "Medium"
                    },
                    {
                    "value": "large",
                    "label": "Large"
                    }
                ],
                "default": "medium"
            },
            {
                "type": "select",
                "id": "align_text",
                "label": "Alignment",
                "options": [
                    {
                    "value": "left",
                    "label": "Left"
                    },
                    {
                    "value": "center",
                    "label": "Center"
                    },
                    {
                    "value": "right",
                    "label": "Right"
                    }
                ],
                "default": "center"
            },
            {
                "type": "header",
                "content": "Colors"
            },
            {
                "type": "color",
                "id": "icon_color",
                "label": "Icons",
                "default": "rgba(0,0,0,0)"
            },
            {
                "type": "color",
                "id": "text_color",
                "label": "Text",
                "default": "rgba(0,0,0,0)"
            },
            {
                "type": "color",
                "id": "background",
                "label": "Background",
                "default": "#CCCCCC"
            },
            {
                "type": "color",
                "id": "gradient",
                "label": "Gradient",
                "default": "rgba(0,0,0,0)"
            },
            {
                "type": "checkbox",
                "id": "show_background_image",
                "label": "Background Image",
                "default": true
            },
            {
                "type": "range",
                "id": "gradient_rotation",
                "label": "Gradient rotation",
                "min": 0,
                "max": 180,
                "step": 10,
                "default": 0,
                "unit": "deg"
            },
            {
                "type": "header",
                "content": "Layout"
            },
            {
                "type": "select",
                "id": "width",
                "label": "Width",
                "default": "standard",
                "options": [
                    {
                    "value": "half",
                    "label": "Half"
                    },
                    {
                    "value": "standard",
                    "label": "Standard"
                    },
                    {
                    "value": "wide",
                    "label": "Wide"
                    }
                ]
            },
            {
                "type": "checkbox",
                "id": "show_gutter",
                "label": "Show gutter",
                "default": true
            },
            {
                "type": "range",
                "id": "padding_top",
                "label": "Top spacing",
                "min": 0,
                "max": 80,
                "default": 80,
                "unit": "px"
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "label": "Bottom spacing",
                "min": 0,
                "max": 80,
                "default": 80,
                "unit": "px"
            },
            {
                "type": "range",
                "id": "padding_left",
                "label": "Left spacing",
                "min": 0,
                "max": 80,
                "default": 0,
                "unit": "px"
            },
            {
                "type": "range",
                "id": "padding_right",
                "label": "Right spacing",
                "min": 0,
                "max": 80,
                "default": 0,
                "unit": "px"
            },
            {
                "type": "select",
                "id": "animation",
                "label": "Animation",
                "default": "none",
                "options": [
                    {
                    "value": "none",
                    "label": "None"
                    },
                    {
                    "value": "fadeIn",
                    "label": "Fade in"
                    },
                    {
                    "value": "fadeInDown",
                    "label": "Fade in down"
                    },
                    {
                    "value": "fadeInLeft",
                    "label": "Fade in left"
                    },
                    {
                    "value": "fadeInRight",
                    "label": "Fade in right"
                    },
                    {
                    "value": "slideInLeft",
                    "label": "Slide in left"
                    },
                    {
                    "value": "slideInRight",
                    "label": "Slide in right"
                    },
                    {
                    "value": "zoomIn",
                    "label": "Zoom in"
                    }
                ]
            },
            {
                "type": "header",
                "content": "Block 1"
            },
            {
                "type": "text",
                "id": "icon_label_1",
                "label": "Icon",
                "placeholder": "Enter icon name",
                "info": "[Icon list](https://help.eagoats.com/hc/en-us/articles/360021570294)",
                "default": "heart_sweet"
            },
            {
                "type": "text",
                "id": "title_1",
                "label": "Heading",
                "default": "Replace cookie guilt with giving"
            },
            {
                "type": "richtext",
                "id": "text_1",
                "label": "Text"
            },
            {
                "type": "header",
                "content": "Block 2"
            },
            {
                "type": "text",
                "id": "icon_label_2",
                "label": "Icon",
                "placeholder": "Enter icon name",
                "info": "[Icon list](https://help.eagoats.com/hc/en-us/articles/360021570294)",
                "default": "icon-dots"
            },
            {
                "type": "text",
                "id": "title_2",
                "label": "Heading",
                "default": "40 million people are hungry in the United States."
            },
            {
                "type": "richtext",
                "id": "text_2",
                "label": "Text"
            },
            {
                "type": "header",
                "content": "Block 3"
            },
            {
                "type": "text",
                "id": "icon_label_3",
                "label": "Icon",
                "placeholder": "Enter icon name",
                "info": "[Icon list](https://help.eagoats.com/hc/en-us/articles/360021570294)",
                "default": "icon-milk"
            },
            {
                "type": "text",
                "id": "title_3",
                "label": "Heading",
                "default": "Your milk is lonely"
            },
            {
                "type": "richtext",
                "id": "text_3",
                "label": "Text"
            },
            {
                "type": "header",
                "content": "Block 4"
            },
            {
                "type": "text",
                "id": "icon_label_4",
                "label": "Icon",
                "placeholder": "Enter icon name",
                "info": "[Icon list](https://help.eagoats.com/hc/en-us/articles/360021570294)",
                "default": "icon-vector_smart"
            },
            {
                "type": "text",
                "id": "title_4",
                "label": "Heading",
                "default": "Enjoy nun puns forever, and ever, and ever, amen"
            },
            {
                "type": "richtext",
                "id": "text_4",
                "label": "Text"
            }
        ]
    },
    {
        "type": "monthly_box__wideimage",
        "name": "Wide Image",
        "settings": [
            {
                "type": "header",
                "content": "Layout"
            },
            {
                "type": "image_picker",
                "id": "background_image",
                "label": "Background image"
            },
            {
                "type": "image_picker",
                "id": "background_image_mobile",
                "label": "Mobile Background image"
            }
        ]
    },
    {
      "type": "monthly_box__faq",
      "name": "Faq",
      "limit": 1,
      "settings": [
        {
         "type": "paragraph",
         "content": "This block can be configured using the FAQ Products section settings."
        }
      ]
    }
  ],
  "default": {
    "settings": {
    },
    "blocks": [
      {
        "type": "monthly_box__videobanner"
      },
      {
        "type": "monthly_box__texts"
      },
      {
        "type": "monthly-box__product"
      },
      {
        "type": "monthly_box__icontexts"
      },
      {
        "type": "monthly_box__wideimage"
      },
      {
        "type": "monthly_box__faq"
      }
    ]
  }
}
{% endschema %}
